In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\DELL\Desktop\Inno_files\Material\pandas\data\weather_forecast.csv")

In [5]:
df

     Outlook Temperature Humidity   Windy Play
0      Sunny         Hot     High    Weak   No
1      Sunny         Hot     High  Strong   No
2   Overcast         Hot     High    Weak  Yes
3       Rain        Mild     High    Weak  Yes
4       Rain        Cool   Normal    Weak  Yes
5       Rain        Cool   Normal  Strong   No
6   Overcast        Cool   Normal  Strong  Yes
7      Sunny        Mild     High    Weak   No
8      Sunny        Cool   Normal    Weak  Yes
9       Rain        Mild   Normal    Weak  Yes
10     Sunny        Mild   Normal  Strong  Yes
11  Overcast        Mild     High  Strong  Yes
12  Overcast         Hot   Normal    Weak  Yes
13      Rain        Mild     High  Strong   No

In [15]:
# when more people are playing according to outlook
df.groupby(by=['Outlook','Play'])['Play'].count()

Outlook   Play
Overcast  Yes     4
Rain      No      2
          Yes     3
Sunny     No      3
          Yes     2
Name: Play, dtype: int64

### Mariginal Proababilty

In [21]:
df['Outlook'].value_counts()/len(df)

Outlook
Sunny       0.357143
Rain        0.357143
Overcast    0.285714
Name: count, dtype: float64

In [23]:
df['Temperature'].value_counts()/len(df)

Temperature
Mild    0.428571
Hot     0.285714
Cool    0.285714
Name: count, dtype: float64

In [25]:
df['Humidity'].value_counts()/len(df)

Humidity
High      0.5
Normal    0.5
Name: count, dtype: float64

In [10]:
df['Wind'].value_counts()/len(df)

Wind
Weak      0.571429
Strong    0.428571
Name: count, dtype: float64

In [11]:
df['Play'].value_counts()/len(df)

Play
Yes    0.642857
No     0.357143
Name: count, dtype: float64

### Joint Probabilty

In [12]:
df.columns

Index(['Day', 'Outlook', 'Temperature', 'Humidity', 'Wind', 'Play'], dtype='object')

In [28]:
df

     Outlook Temperature Humidity   Windy Play
0      Sunny         Hot     High    Weak   No
1      Sunny         Hot     High  Strong   No
2   Overcast         Hot     High    Weak  Yes
3       Rain        Mild     High    Weak  Yes
4       Rain        Cool   Normal    Weak  Yes
5       Rain        Cool   Normal  Strong   No
6   Overcast        Cool   Normal  Strong  Yes
7      Sunny        Mild     High    Weak   No
8      Sunny        Cool   Normal    Weak  Yes
9       Rain        Mild   Normal    Weak  Yes
10     Sunny        Mild   Normal  Strong  Yes
11  Overcast        Mild     High  Strong  Yes
12  Overcast         Hot   Normal    Weak  Yes
13      Rain        Mild     High  Strong   No

In [36]:
pd.crosstab(df['Outlook'],df['Play'])

Play      No  Yes
Outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [32]:
pd.crosstab(df['Outlook'],df['Play']) /len(df)

Play            No       Yes
Outlook
Overcast  0.000000  0.285714
Rain      0.142857  0.214286
Sunny     0.214286  0.142857

In [18]:
pd.crosstab(df['Outlook'],df['Play'],margins = True)/len(df)

Play            No       Yes       All
Outlook
Overcast  0.000000  0.285714  0.285714
Rain      0.142857  0.214286  0.357143
Sunny     0.214286  0.142857  0.357143
All       0.357143  0.642857  1.000000

### Conditional Proababilty

In [44]:
pd.crosstab(df['Outlook'],df['Play'])

Play      No  Yes
Outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [46]:
df['Play'].value_counts()

Play
Yes    9
No     5
Name: count, dtype: int64

In [48]:
pd.crosstab(df['Outlook'],df['Play'],normalize='columns')

Play       No       Yes
Outlook
Overcast  0.0  0.444444
Rain      0.4  0.333333
Sunny     0.6  0.222222

In [24]:
pd.crosstab(df['Temperature'],df['Play'],normalize='index')

Play               No       Yes
Temperature
Cool         0.250000  0.750000
Hot          0.500000  0.500000
Mild         0.333333  0.666667

In [26]:
pd.crosstab(df['Outlook'],df['Play'],normalize='index')

Play       No  Yes
Outlook
Overcast  0.0  1.0
Rain      0.4  0.6
Sunny     0.6  0.4